body
{
    background-color:  rgb(240, 232, 225);
    font-family: Arial
}

h1
{
    color: #000078;
    font-size: 40px;
}

h2
{
    color: #c55186;
    font-size: 30px;
}

p
{
    font-size: 20px;
}


#tooltip.hidden
{
    display:none;
}

#tooltip
{
    position:absolute;
    width:100px;
    height:auto;
    padding:10px;
    color:rgb(240, 232, 225);
    background-color:#AA0078;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
}

.off,.fade
{
    opacity:.4;
}


#slopeGraph
{
    border-style: solid;
    border: 1px;
    border-color:black;
}

.byGraph
{
    position:absolute;
    top: 370px;
    left:660px;
    width:600px
}
.byGraph2
{
    position:absolute;
    top: 500px;
    left:660px;
    width:600px
}
.byGraph3
{
    position:absolute;
    top: 630px;
    left:660px;
    width:600px
}

